.EachEvent {
    border: solid 1px black;
    margin-bottom: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    /* margin-right: 40px; */
    min-width: fit-content;
    /* width: 80%; */
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

body {
    /* margin-top: 10px; */
    padding-top: 35px;
    width: 100%;
    /* padding-bottom: 50px; */
    height: 100vh;
    margin-bottom: 50px;
}

.culprit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px
}

.EachEvent {
    list-style: none;
    padding: 4px;
    background-color: ghostwhite;
    border-radius: 12px;
    min-width: 500px;
    width: 100%;
}

.EachEvent:hover {
    box-shadow: 0px 0px 8px darkslategray;
    background-color: azure;

}

.createbutton {
    margin: 5px;
    position: relative;
    left: 20px;
    top: 10px;
    border-radius: 2px;
    height: 30px;

}

button {
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

#searchbar {
    width: 100%;
    display: flex;
    justify-content: center;

}

.filter {
    background-color: blanchedalmond;
    border: solid 2px black;
    padding: 4px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px black;
}

#page {
    background-color: ivory;
    border: solid black 1px;
    border-radius: 3px;
    padding: 3px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    background-color: ghostwhite;
    border-radius: 8px;
    resize: none;
    min-width: fit-content;
    min-height: fit-content;
}

.backandforth {
    height: 44px;
    font-size: 72px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.backandforth:hover {
    background-color: aliceblue;
}

.backforthdiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}



.createform {
    position: relative;
    top: 38px;
    left: 20px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.createform:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.createform:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}






.h1heheh {
    position: relative;
    left: 35%;
    width: 30%;
    background-color: whitesmoke;
    border: solid 1px black;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 5px;
}

.navLink {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.delb {
    position: relative;
    top: 0px;
    left: 40%;
}

.delb:hover {
    background-color: darkred;
    color: whitesmoke;
    font-weight: bold;
}

.eventtitle {
    word-break: break-all;

}

h4 {
    word-break: break-all;
    font-weight: 700;
    font-family: 'monospace';
}
