/* TODO Add site wide styles */

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    width: 100%;
    margin: 0;
    /* position: static; */
    background: url(../../wordart.jpeg);
    padding: 0;

}
