/* TODO Add site wide styles */

#root {
    width: 100%;
    /* display: flex; */

}



body {
    width: 80%;
    margin: 0;
    /* position: static; */
    background: url(../../wordart.jpeg);
    height: 100%;
}
