/* TODO Add site wide styles */
/* body {
    width: 100vh;
} */
#root {
    width: 100%;
    margin: 0;
}

/* html {
    width: 100%;
    background-color: aqua;
    position: absolute;
    left: 0;
} */

body {
    width: 100%;
    margin: 0;
    position: static;
}
