.errors {
    padding: 3px;
    color: red;
    list-style-type: disc;
    width: 50%;
}

.ulcreateform {
    background-color: antiquewhite;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: 80%;
    border-radius: 6px;
    padding: 0px;
}

#inserter {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: solid 1px; */
}


.onlyiferrors {
    border: 1px solid black;
}

.insertimage {
    border: solid 1px;
    width: fit-content;
    background-color: azure;
    margin: 8px;
    padding: 2px;
    border-radius: 3px;
}

.insertimage:hover {
    transform: scale(1.1);

    background-color: aqua;
}

.backbutton {
    width: 80px;
    background-color: aliceblue;
}

.backbutton:hover {
    box-shadow: rgba(102, 198, 249, 0.948) 0 -25px 18px -14px inset, rgba(44, 165, 187, 0.25) 0 1px 2px, rgba(44, 170, 187, 0.25) 0 2px 4px, rgba(44, 165, 187, 0.25) 0 4px 8px, rgba(44, 177, 187, 0.25) 0 8px 16px, rgba(44, 146, 187, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.formcreate {
    background-color: antiquewhite;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    border-radius: 8px;
}

.labelforforms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.titleforcreate {
    background-color: antiquewhite;
    border: solid 2px black;
    border-radius: 10px;
    font-size: 38px;
    padding: 12px;

}

.createcontain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputstuff {
    width: 80%;
    text-align: center;
}

.hidden {
    display: none;
}
